zorgrdjan_aplikacija_1/src/conf/xml-resources/web-service-references/Parkiranje_1/wsdl/nwtis.foi.hr_8080/NWTiS_2018/Parkiranje.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serveri.ws.dkermek.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serveri.ws.dkermek.nwtis.foi.org/" name="Parkiranje">
<wsp:Policy wsu:Id="ParkiranjePortBindingPolicy" />
<types>
<xsd:schema>
<xsd:import namespace="http://serveri.ws.dkermek.nwtis.foi.org/" schemaLocation="http://nwtis.foi.hr:8080/NWTiS_2018/Parkiranje?xsd=1" />
</xsd:schema>
</types>
<message name="dajBrojPoruka">
<part name="parameters" element="tns:dajBrojPoruka" />
</message>
<message name="dajBrojPorukaResponse">
<part name="parameters" element="tns:dajBrojPorukaResponse" />
</message>
<message name="promjeniBrojPoruka">
<part name="parameters" element="tns:promjeniBrojPoruka" />
</message>
<message name="promjeniBrojPorukaResponse">
<part name="parameters" element="tns:promjeniBrojPorukaResponse" />
</message>
<message name="dajTrajanjeCiklusa">
<part name="parameters" element="tns:dajTrajanjeCiklusa" />
</message>
<message name="dajTrajanjeCiklusaResponse">
<part name="parameters" element="tns:dajTrajanjeCiklusaResponse" />
</message>
<message name="promjeniTrajanjeCiklusa">
<part name="parameters" element="tns:promjeniTrajanjeCiklusa" />
</message>
<message name="promjeniTrajanjeCiklusaResponse">
<part name="parameters" element="tns:promjeniTrajanjeCiklusaResponse" />
</message>
<message name="deregistrirajGrupu">
<part name="parameters" element="tns:deregistrirajGrupu" />
</message>
<message name="deregistrirajGrupuResponse">
<part name="parameters" element="tns:deregistrirajGrupuResponse" />
</message>
<message name="blokirajGrupu">
<part name="parameters" element="tns:blokirajGrupu" />
</message>
<message name="blokirajGrupuResponse">
<part name="parameters" element="tns:blokirajGrupuResponse" />
</message>
<message name="aktivirajGrupu">
<part name="parameters" element="tns:aktivirajGrupu" />
</message>
<message name="aktivirajGrupuResponse">
<part name="parameters" element="tns:aktivirajGrupuResponse" />
</message>
<message name="dajStatusGrupe">
<part name="parameters" element="tns:dajStatusGrupe" />
</message>
<message name="dajStatusGrupeResponse">
<part name="parameters" element="tns:dajStatusGrupeResponse" />
</message>
<message name="dodajParkiralisteGrupi">
<part name="parameters" element="tns:dodajParkiralisteGrupi" />
</message>
<message name="dodajParkiralisteGrupiResponse">
<part name="parameters" element="tns:dodajParkiralisteGrupiResponse" />
</message>
<message name="autenticirajGrupu">
<part name="parameters" element="tns:autenticirajGrupu" />
</message>
<message name="autenticirajGrupuResponse">
<part name="parameters" element="tns:autenticirajGrupuResponse" />
</message>
<message name="dodajNovoParkiralisteGrupi">
<part name="parameters" element="tns:dodajNovoParkiralisteGrupi" />
</message>
<message name="dodajNovoParkiralisteGrupiResponse">
<part name="parameters" element="tns:dodajNovoParkiralisteGrupiResponse" />
</message>
<message name="obrisiSvaParkiralistaGrupe">
<part name="parameters" element="tns:obrisiSvaParkiralistaGrupe" />
</message>
<message name="obrisiSvaParkiralistaGrupeResponse">
<part name="parameters" element="tns:obrisiSvaParkiralistaGrupeResponse" />
</message>
<message name="ucitajSvaParkiralistaGrupe">
<part name="parameters" element="tns:ucitajSvaParkiralistaGrupe" />
</message>
<message name="ucitajSvaParkiralistaGrupeResponse">
<part name="parameters" element="tns:ucitajSvaParkiralistaGrupeResponse" />
</message>
<message name="dajStatusParkiralistaGrupe">
<part name="parameters" element="tns:dajStatusParkiralistaGrupe" />
</message>
<message name="dajStatusParkiralistaGrupeResponse">
<part name="parameters" element="tns:dajStatusParkiralistaGrupeResponse" />
</message>
<message name="blokirajParkiralisteGrupe">
<part name="parameters" element="tns:blokirajParkiralisteGrupe" />
</message>
<message name="blokirajParkiralisteGrupeResponse">
<part name="parameters" element="tns:blokirajParkiralisteGrupeResponse" />
</message>
<message name="aktivirajParkiralisteGrupe">
<part name="parameters" element="tns:aktivirajParkiralisteGrupe" />
</message>
<message name="aktivirajParkiralisteGrupeResponse">
<part name="parameters" element="tns:aktivirajParkiralisteGrupeResponse" />
</message>
<message name="obrisiParkiralisteGrupe">
<part name="parameters" element="tns:obrisiParkiralisteGrupe" />
</message>
<message name="obrisiParkiralisteGrupeResponse">
<part name="parameters" element="tns:obrisiParkiralisteGrupeResponse" />
</message>
<message name="aktivirajOdabranaParkiralistaGrupe">
<part name="parameters" element="tns:aktivirajOdabranaParkiralistaGrupe" />
</message>
<message name="aktivirajOdabranaParkiralistaGrupeResponse">
<part name="parameters" element="tns:aktivirajOdabranaParkiralistaGrupeResponse" />
</message>
<message name="blokirajOdabranaParkiralistaGrupe">
<part name="parameters" element="tns:blokirajOdabranaParkiralistaGrupe" />
</message>
<message name="blokirajOdabranaParkiralistaGrupeResponse">
<part name="parameters" element="tns:blokirajOdabranaParkiralistaGrupeResponse" />
</message>
<message name="dajSvaParkiralistaGrupe">
<part name="parameters" element="tns:dajSvaParkiralistaGrupe" />
</message>
<message name="dajSvaParkiralistaGrupeResponse">
<part name="parameters" element="tns:dajSvaParkiralistaGrupeResponse" />
</message>
<message name="dajSvaVozilaParkiralistaGrupe">
<part name="parameters" element="tns:dajSvaVozilaParkiralistaGrupe" />
</message>
<message name="dajSvaVozilaParkiralistaGrupeResponse">
<part name="parameters" element="tns:dajSvaVozilaParkiralistaGrupeResponse" />
</message>
<message name="obrisiOdabranaParkiralistaGrupe">
<part name="parameters" element="tns:obrisiOdabranaParkiralistaGrupe" />
</message>
<message name="obrisiOdabranaParkiralistaGrupeResponse">
<part name="parameters" element="tns:obrisiOdabranaParkiralistaGrupeResponse" />
</message>
<message name="registrirajGrupu">
<part name="parameters" element="tns:registrirajGrupu" />
</message>
<message name="registrirajGrupuResponse">
<part name="parameters" element="tns:registrirajGrupuResponse" />
</message>
<portType name="Parkiranje">
<operation name="dajBrojPoruka">
<input wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/Parkiranje/dajBrojPorukaRequest" message="tns:dajBrojPoruka" />
<output wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/Parkiranje/dajBrojPorukaResponse" message="tns:dajBrojPorukaResponse" />
</operation>
<operation name="promjeniBrojPoruka">
<input wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/Parkiranje/promjeniBrojPorukaRequest" message="tns:promjeniBrojPoruka" />
<output wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/Parkiranje/promjeniBrojPorukaResponse" message="tns:promjeniBrojPorukaResponse" />
</operation>
<operation name="dajTrajanjeCiklusa">
<input wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/Parkiranje/dajTrajanjeCiklusaRequest" message="tns:dajTrajanjeCiklusa" />
<output wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/Parkiranje/dajTrajanjeCiklusaResponse" message="tns:dajTrajanjeCiklusaResponse" />
</operation>
<operation name="promjeniTrajanjeCiklusa">
<input wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/Parkiranje/promjeniTrajanjeCiklusaRequest" message="tns:promjeniTrajanjeCiklusa" />
<output wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/Parkiranje/promjeniTrajanjeCiklusaResponse" message="tns:promjeniTrajanjeCiklusaResponse" />
</operation>
<operation name="deregistrirajGrupu">
<input wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/Parkiranje/deregistrirajGrupuRequest" message="tns:deregistrirajGrupu" />
<output wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/Parkiranje/deregistrirajGrupuResponse" message="tns:deregistrirajGrupuResponse" />
</operation>
<operation name="blokirajGrupu">
<input wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/Parkiranje/blokirajGrupuRequest" message="tns:blokirajGrupu" />
<output wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/Parkiranje/blokirajGrupuResponse" message="tns:blokirajGrupuResponse" />
</operation>
<operation name="aktivirajGrupu">
<input wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/Parkiranje/aktivirajGrupuRequest" message="tns:aktivirajGrupu" />
<output wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/Parkiranje/aktivirajGrupuResponse" message="tns:aktivirajGrupuResponse" />
</operation>
<operation name="dajStatusGrupe">
<input wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/Parkiranje/dajStatusGrupeRequest" message="tns:dajStatusGrupe" />
<output wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/Parkiranje/dajStatusGrupeResponse" message="tns:dajStatusGrupeResponse" />
</operation>
<operation name="dodajParkiralisteGrupi">
<input wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/Parkiranje/dodajParkiralisteGrupiRequest" message="tns:dodajParkiralisteGrupi" />
<output wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/Parkiranje/dodajParkiralisteGrupiResponse" message="tns:dodajParkiralisteGrupiResponse" />
</operation>
<operation name="autenticirajGrupu">
<input wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/Parkiranje/autenticirajGrupuRequest" message="tns:autenticirajGrupu" />
<output wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/Parkiranje/autenticirajGrupuResponse" message="tns:autenticirajGrupuResponse" />
</operation>
<operation name="dodajNovoParkiralisteGrupi">
<input wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/Parkiranje/dodajNovoParkiralisteGrupiRequest" message="tns:dodajNovoParkiralisteGrupi" />
<output wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/Parkiranje/dodajNovoParkiralisteGrupiResponse" message="tns:dodajNovoParkiralisteGrupiResponse" />
</operation>
<operation name="obrisiSvaParkiralistaGrupe">
<input wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/Parkiranje/obrisiSvaParkiralistaGrupeRequest" message="tns:obrisiSvaParkiralistaGrupe" />
<output wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/Parkiranje/obrisiSvaParkiralistaGrupeResponse" message="tns:obrisiSvaParkiralistaGrupeResponse" />
</operation>
<operation name="ucitajSvaParkiralistaGrupe">
<input wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/Parkiranje/ucitajSvaParkiralistaGrupeRequest" message="tns:ucitajSvaParkiralistaGrupe" />
<output wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/Parkiranje/ucitajSvaParkiralistaGrupeResponse" message="tns:ucitajSvaParkiralistaGrupeResponse" />
</operation>
<operation name="dajStatusParkiralistaGrupe">
<input wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/Parkiranje/dajStatusParkiralistaGrupeRequest" message="tns:dajStatusParkiralistaGrupe" />
<output wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/Parkiranje/dajStatusParkiralistaGrupeResponse" message="tns:dajStatusParkiralistaGrupeResponse" />
</operation>
<operation name="blokirajParkiralisteGrupe">
<input wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/Parkiranje/blokirajParkiralisteGrupeRequest" message="tns:blokirajParkiralisteGrupe" />
<output wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/Parkiranje/blokirajParkiralisteGrupeResponse" message="tns:blokirajParkiralisteGrupeResponse" />
</operation>
<operation name="aktivirajParkiralisteGrupe">
<input wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/Parkiranje/aktivirajParkiralisteGrupeRequest" message="tns:aktivirajParkiralisteGrupe" />
<output wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/Parkiranje/aktivirajParkiralisteGrupeResponse" message="tns:aktivirajParkiralisteGrupeResponse" />
</operation>
<operation name="obrisiParkiralisteGrupe">
<input wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/Parkiranje/obrisiParkiralisteGrupeRequest" message="tns:obrisiParkiralisteGrupe" />
<output wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/Parkiranje/obrisiParkiralisteGrupeResponse" message="tns:obrisiParkiralisteGrupeResponse" />
</operation>
<operation name="aktivirajOdabranaParkiralistaGrupe">
<input wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/Parkiranje/aktivirajOdabranaParkiralistaGrupeRequest" message="tns:aktivirajOdabranaParkiralistaGrupe" />
<output wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/Parkiranje/aktivirajOdabranaParkiralistaGrupeResponse" message="tns:aktivirajOdabranaParkiralistaGrupeResponse" />
</operation>
<operation name="blokirajOdabranaParkiralistaGrupe">
<input wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/Parkiranje/blokirajOdabranaParkiralistaGrupeRequest" message="tns:blokirajOdabranaParkiralistaGrupe" />
<output wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/Parkiranje/blokirajOdabranaParkiralistaGrupeResponse" message="tns:blokirajOdabranaParkiralistaGrupeResponse" />
</operation>
<operation name="dajSvaParkiralistaGrupe">
<input wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/Parkiranje/dajSvaParkiralistaGrupeRequest" message="tns:dajSvaParkiralistaGrupe" />
<output wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/Parkiranje/dajSvaParkiralistaGrupeResponse" message="tns:dajSvaParkiralistaGrupeResponse" />
</operation>
<operation name="dajSvaVozilaParkiralistaGrupe">
<input wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/Parkiranje/dajSvaVozilaParkiralistaGrupeRequest" message="tns:dajSvaVozilaParkiralistaGrupe" />
<output wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/Parkiranje/dajSvaVozilaParkiralistaGrupeResponse" message="tns:dajSvaVozilaParkiralistaGrupeResponse" />
</operation>
<operation name="obrisiOdabranaParkiralistaGrupe">
<input wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/Parkiranje/obrisiOdabranaParkiralistaGrupeRequest" message="tns:obrisiOdabranaParkiralistaGrupe" />
<output wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/Parkiranje/obrisiOdabranaParkiralistaGrupeResponse" message="tns:obrisiOdabranaParkiralistaGrupeResponse" />
</operation>
<operation name="registrirajGrupu">
<input wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/Parkiranje/registrirajGrupuRequest" message="tns:registrirajGrupu" />
<output wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/Parkiranje/registrirajGrupuResponse" message="tns:registrirajGrupuResponse" />
</operation>
</portType>
<binding name="ParkiranjePortBinding" type="tns:Parkiranje">
<wsp:PolicyReference URI="#ParkiranjePortBindingPolicy" />
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="dajBrojPoruka">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="promjeniBrojPoruka">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="dajTrajanjeCiklusa">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="promjeniTrajanjeCiklusa">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deregistrirajGrupu">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="blokirajGrupu">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="aktivirajGrupu">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="dajStatusGrupe">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="dodajParkiralisteGrupi">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="autenticirajGrupu">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="dodajNovoParkiralisteGrupi">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="obrisiSvaParkiralistaGrupe">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ucitajSvaParkiralistaGrupe">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="dajStatusParkiralistaGrupe">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="blokirajParkiralisteGrupe">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="aktivirajParkiralisteGrupe">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="obrisiParkiralisteGrupe">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="aktivirajOdabranaParkiralistaGrupe">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="blokirajOdabranaParkiralistaGrupe">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="dajSvaParkiralistaGrupe">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="dajSvaVozilaParkiralistaGrupe">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="obrisiOdabranaParkiralistaGrupe">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="registrirajGrupu">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="Parkiranje">
<port name="ParkiranjePort" binding="tns:ParkiranjePortBinding">
<soap:address location="http://nwtis.foi.hr:8080/NWTiS_2018/Parkiranje" />
</port>
</service>
</definitions>